html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $size-med;
  background-color: $dark-blue;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.container {
  margin: 0 auto;
  padding: 0 $size-med;
}

.is-active {
  font-weight: bold;
}